.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.image-link {
    display: inline-block;
    margin-right: 100px;
    text-align: center;
    width: 100px;
}
.image-link img {
    width: 100%;
    height: auto;
}
.image-link p {
    margin: 0;
}