.left-frame {
    width: 30%;
    margin-left: 2%;
    margin-right: auto;
}

.right-frame {
    position: absolute;
    left: 30%;
    top: 0;
    margin-left: 4%;
    margin-right: 2%;
    width: 64%;
}
.frames-container {
    position: relative;
}

.image-link {
    display: inline-block;
    margin-right: 100px;
    text-align: center;
    width: 100px;
}
.image-link img {
    width: 100%;
    height: auto;
}
.image-link p {
    margin: 0;
}